# Node modules
frontend/node_modules/

# Build folders
frontend/.next/
frontend/.next/cache/
frontend/out/
backend/staticfiles/

# Env files

.env.local
frontend/.env
frontend/.env.local
frontend/.env.production
backend/.env
backend/.env.production

# Python
backend/__pycache__/
*.py[cod]

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Others
frontend/.turbo/
